{% extends 'base_adminuser.html.twig' %}

{% block title %}Dashboard Campus France{% endblock %}
{% block title_header %}Dashboard Campus France{% endblock %}


{% block body %}
    {% if app.user.planpremium != true %}
    <div class="card-custon mt-15 card">
        <div class="card-header text-info">
        {% if app.user.paiement is not defined %}
            <p class="text-right">Pour être accompagné et bénéficier de nos services, <a href="{{ path('student_paiement') }}" class="btn btn-primary">Souscrivez un forfait</a></p>
        {% endif %}
        </div>
    </div>
    {% endif %}
    <div class="mt-15 card">
        <div class="card-header">
            <h2 class="text-primary">Etat de votre plan premium</h2>

            <div class="mt-15 card">
                <div class="card-body">
                    <h3 class="mb-5">Informations personnelles</h3>
                    <p><b>Situation personnelle actuelle</b> : {{ state.personalInformationsStepOne }}</p>
                    <p><b>Parcours et diplômes</b> : {{ state.personalInformationsStepTwo }}</p>
                    <p><b>Compétences linguistiques</b> : {{ state.personalInformationsStepThree }}</p>
                </div>
            </div>
            <div class="mt-5 card">
                <div class="card-body">
                    <h3 class="mb-5">Panier de formations</h3>
                    <p><b>Etat panier formation</b> : {{ state.basketStepOne }}</p>
                    <p><b>Panier formations</b> : {{ state.basketStepTwo }}</p>
                </div>
            </div>
            <div class="mt-5 card">
                <div class="card-body">
                    <h3 class="mb-5">Soumission dossier Campus France</h3>
                    <p><b>Etat dossier</b> : {{ state.submissionStepOne }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if scraping.statutDossier is defined %}
    <div class="card-custon mt-15 card">
        <div class="card-header">
            <h2 class="text-primary">Etat de votre dossier formation "Campus France"</h2>
            <!-- @todo indicate result scraping -->
            <table class="table-hover table ">
                <tbody>
                    {% for label, value in scraping.statutDossier %}
                        <tr>
                            <td><b>{{ value.name }}</b> : {{ value.statut }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
{% endblock %}
