{% extends 'base_adminuser.html.twig' %}

{% block title %}Suivi de votre accompagnement{% endblock %}
{% block title_header %}Suivi de votre accompagnement{% endblock %}


{% block body %}
    {% if app.user.paiement is not defined %}
        <p class="text-right"><a href="{{ path('student_paiement') }}" class="btn btn-primary">Souscrire un forfait</a></p>
    {% endif %}

    <div class="mt-15 card">
        <div class="card-body">
            <h3 class="mb-5">Informations personnelles</h3>
                <p><b>Situation personnelle actuelle</b> : {{ state.personalInformationsStepOne }}</p>
                <p><b>Parcours et diplômes</b> : {{ state.personalInformationsStepTwo }}</p>
                <p><b>Compétences linguistiques</b> : {{ state.personalInformationsStepThree }}</p>
        </div>
    </div>
    <div class="mt-5 card">
        <div class="card-body">
            <h3 class="mb-5">Panier de formations</h3>
                <p><b>Etat panier formation</b> : {{ state.basketStepOne }}</p>
                <p><b>Panier formations</b> : {{ state.basketStepTwo }}</p>
        </div>
    </div>
    <div class="mt-5 card">
        <div class="card-body">
            <h3 class="mb-5">Soumission dossier Campus France</h3>
                <p><b>Etat dossier</b> : {{ state.submissionStepOne }}</p>
        </div>
    </div>
{% endblock %}
